.input-container {
    width: 35%;
    height: 8%;
    align-self: center;
    padding-right: 10px;
}
.regular-style {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    border: none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    color: black;
    font-size: 14px;
    outline: none;
    line-height: 3;
}

.regular-style::placeholder {
    font-size: 14px;
    color: grey;
    opacity: 0.8;
    align-self: center;
}

.input-error {
    border: 1px solid red;
    color: red;
    background-color: rosybrown;
    width: 100%;
    height: 45px;
    border-radius: 24px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 3;
    outline: none;
}