.section-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.section-info-sections {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 30px;
    border-radius: 45px;
    border: none;
    box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    background-color: #EEF1FA;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.section-info-sections:hover {
    box-shadow: inset 125vh 0 0 0 #a8dafa;
    cursor: pointer;
    color: #1d3557;
    transform: translateY(-7px);
}

.section-list-item {
    padding: 3px;
    height: 38px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    font-weight: 600;
    font-size: large;
}