.courses {
    flex: 4;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.courses-container {
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.courses-list {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    background-color: #EEF1FA;
}
