.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d3557;
    width: 40em;
    height: 50em;
    margin-top: 5px;
    position: center;
    opacity: 0.9;
}

.submit-button-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: center;
    padding: 10px;
}

.submit-button {
    border-radius: 25px;
    height: 5vh;
    width: 25vh;
    outline: none;
    background: #a8dafa;
    color: #1d3557;
    font-size: 14px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.link-button {
    font-size: 18px;
    color: #a8dafa;
    cursor: pointer;
    padding: 5px;
}

.link-button.active, .link-button:hover{
    background-color: #1d3557;
}

.index-list {
    list-style: none;
}

.index-list-icons{
    display: flex;
    color: #EEF1FA;
    border-radius: 10px;
    flex-direction: row;
}

.index-pass {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-pass-icons{
    display: flex;
    color: #EEF1FA;
    width: 70vh;
    padding-left: 45vh;
}

.index-eye-icon {
    cursor: pointer;
    margin-top: 1vh;
    margin-left: 1vh;
}