.dropdownmenu-container {
    border-radius: 5%;
    width: 100px;
    position: absolute;
    top: 20px;
    list-style: none;
    text-align: start;
    background: #EEF1FA;
    margin-right: 10vh;
}

.dropdownmenu-container li {
    background: #EEF1FA;
    cursor: pointer;
}

.dropdownmenu-container li:hover {
    background: #EEF1FA;
}