.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d3557;
    width: 40%;
    height: 90%;
    position: center;
    opacity: 0.9;
}

.submit-button-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: center;
    padding: 20px;
}

.submit-button {
    border-radius: 25px;
    height: 6vh;
    width: 25vh;
    outline: none;
    background: #1d3557;
    color: #a8dafa;
    font-size: 14px;
    font-weight: bold;
    transition: ease-out 0.3s;
    cursor: pointer;
}

.submit-button:hover {
    box-shadow: inset 25vh 0 0 0 #a8dafa;
    cursor: pointer;
    color: #1d3557;
}

.link-button {
    font-size: 18px;
    color: #a8dafa;
    cursor: pointer;
    padding: 5px;
}

.link-button.active, .link-button:hover{
    background-color: #1d3557;
}

.index-list {
    list-style: none;
}

.index-list-icons{
    display: flex;
    color: #EEF1FA;
    border-radius: 10px;
    flex-direction: row;
    padding: 10px;
}

.index-pass {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEF1FA;
    width: 70vh;
    padding-left: 25px;
}

.index-eye-icon {
    cursor: pointer;
}
