.course {
    flex: 4;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.course-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.course-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.course-info {
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    background-color: #EEF1FA;
}

.course-list-item {
    padding: 3px;
    height: 38px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    font-weight: 600;
    font-size: large;
}
