.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}


.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}