.admin {
    flex: 4;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.admin-container {
    width: 50%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.admin-list {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 4px rgba(0,0,0,0.75);
    background-color: #1d3557;
}

.admin-list-item {
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.admin-input-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.admin-list-item-button {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.admin-submit-button {
    justify-content: center;
    border-radius: 25px;
    height: 45px;
    width: 35%;
    outline: none;
    padding: 10px;
    background: #a8dafa;
    color: #1d3557;
    font-size: 14px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.admin-pass {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

.admin-eye-icon {
    cursor: pointer;
    color: #EEF1FA;
}